<!doctype html>
<html>
  <head>
    <title>Router</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var  latlong = [[26.84375, 80.94289],
[26.84391, 80.94308],
[26.84405, 80.94323],
[26.84421, 80.94343],
[26.84437, 80.94363],
[26.84463, 80.94387],
[26.84478, 80.94411],
[26.84493, 80.94431],
[26.84514, 80.94454],
[26.84525, 80.9447],
[26.84549, 80.94491],
[26.84566, 80.94505],
[26.8458, 80.94524],
[26.846, 80.94548],
[26.8462, 80.94562],
[26.84641, 80.9459],
[26.84661, 80.94612],
[26.84687, 80.94589],
[26.84699, 80.9457],
[26.84715, 80.94554],
[26.84731, 80.94534],
[26.84739, 80.94518],                      
[26.84726, 80.94513],                      
[26.84717, 80.945],                      
[26.84708, 80.94494],                      
[26.84701, 80.94482]];
      var i=0;
      var socket = io();
        setInterval(function(){
            if(i<=latlong.length)
            socket.emit('latlong', latlong[i++]);
          }, 1000);
    </script>
  </head>
  <body>
  </body>
</html>